<h3 class="heading_2">{{.Page.Params.description}}</h3>



{{$root := .Page.Params.folder}}
<h1>{{$root}}</h1>
<div class="row">
    {{ with .Page.Params.pics}}
        {{range .}}
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="{{.path}}" data-title="{{.title}}" data-lightbox="Sample">
                <img src = "{{.path}}" style = "width:100%;">
                <div class="caption">
                    <p class="small_txt">{{.title}}</p>
                </div> 
            </a>
          </div>
        </div>
    {{end}}
   {{end}}
   </div>