<p>In 2016 we volunteered as a group to spruce up the railings around the tomb of the architect John Nash. He is famous for many projects including the remodelling of Brighton Pavilion, parts of Buckingham Palace and he lived in East Cowes Castle.</p>
<p>Several of the Friends helped to remove the rust and repaint the ironwork around his grave and were rewarded with tea and refreshments at the church hall.</p>
<p><img src="https://foec.s3-eu-west-1.amazonaws.com/foec/images/image/value/61/IMG_20161102_101634.jpg" alt="nash rail1" width="350" height="263" /></p>

<p><img src="https://foec.s3-eu-west-1.amazonaws.com/foec/images/image/value/62/IMG_20161102_110004.jpg" alt="nash rail2" width="350" height="263" />&nbsp;</p>
<p>Rust removal</p>
<p><img src="https://foec.s3-eu-west-1.amazonaws.com/foec/images/image/value/63/IMG_20161102_135648.jpg" alt="nash rail3" width="350" height="263" /></p>
<p>Good as new</p>
