<div class="container-fluid margin-top" >
    <div class="row stats">
        <div class="col-sm-4 margin-top padding-8 ">
            <h4 class = "heading_3"> General Statistics</h4 class = "heading_3">
            Class & Type: Grom class destroyer<br>
            Displacement: 1,975 tons<br> 
            Length: 114m (374' 0")<br>
            Beam: 11.3m (37' 1")<br>
            Draft: 3.3m (10' 10")<br>
            Speed: 39knots (72km/h;45mph)<br>
            Complement:192
        </div>
        <div class="col-sm-4 margin-top padding-8" >
            <h4  class = "heading_3">Armament [1937]</h4>
            7x120mm (4.7") guns<br>
            4x40mm (1.6") AA guns<br>
            Machine guns<br>
            6x torpedo launchers
        </div>
        <div class="col-sm-4 margin-top padding-8" >
            <h4 class = "heading_3">Armament [1941]</h4 class = "heading_3">
            8x QF 4" [101.6mm] mk XVI AA guns<br>
            4x40mm (1.6") AA guns<br>
            4x20mm (0.79") AA guns<br>
            6x torpedo launchers
        </div>
    </div>
</div>