<div style="text-align:center" class="margin-top video-container">
    <div class="embed video-player" style="display:inline-block">
        <!-- <iframe class="youtube-player" type="text/html" width="640" height="385"
            src="http://www.youtube.com/embed/vz0eTIMBuRw" allowfullscreen frameborder="0">
        </iframe> -->
        <!-- <iframe width="687" height="515" src="https://www.youtube.com/embed/vz0eTIMBuRw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <iframe width="550" height="412" src="https://www.youtube.com/embed/vz0eTIMBuRw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <p class = "thanx">Thanks to Leon Guzenda for letting us use the You-tube film</p>
    </div>
</div>
<p class = "thanx">Thanks to Leon Guzenda for letting us use the You-tube film</p>




